
<div class="layout-row align-items-center justify-content-center mt-50">

  <section (ngModel)="lengthOptions" class="layout-column align-items-center justify-content-between">
    <span class="input layout-row">
        <input (input)="firstInput($event.target.value)" [(ngModel)]="this.secondValue" type="number" class="large"
        data-test-id="app-input1"/>
        <label class="suffix" data-test-id="app-label1"></label>
    </span>
    <select data-test-id="app-select1" (change)="converter($event.target.value, this.input)">
      <option *ngFor="let option of lengthOptions" [ngValue]="option.label">{{ option.label }}</option>
    </select>
  </section>

  <label>⇋</label>

  <section class="layout-column align-items-center justify-content-between">
      <span class="input layout-row">
          <input (input)="secondInput($event.target.value)" [(ngModel)]="this.firstValue" type="number" class="large"
          data-test-id="app-input2"/> 
          <label class="suffix" data-test-id="app-label2"></label>
      </span>
      <select data-test-id="app-select2" (change)="converter($event.target.value, this.input)">
        <option *ngFor="let option of lengthOptions" [ngValue]="option.label">{{ option.label }}</option>
      </select>
    </section>
</div>
